<div class="flex h-screen w-full items-center justify-center overflow-hidden p-2">
    <mat-card class="cardWithShadow overflow-hidden auth-card mx-auto mb-0">
        <div class="grid grid-cols-12 gap-6">
            <div class="lg:col-span-6 col-span-12 flex items-stretch">
                <div class="w-full p-10 flex flex-col justify-center aling-center">
                    <form class="mt-8">
                        <mat-label class="mat-subtitle-2 text-sm font-semibold mb-3 block text-start">Username
                        </mat-label>
                        <mat-form-field appearance="outline" class="w-full" color="primary">
                            <input matInput />
                        </mat-form-field>

                        <mat-label class="mat-subtitle-2 text-sm font-semibold mb-3 block text-start">Password
                        </mat-label>
                        <mat-form-field appearance="outline" class="w-full" color="primary">
                            <input matInput type="password" />
                        </mat-form-field>

                        <div class="flex flex-col mb-3">
                            <mat-checkbox color="primary">Remember this Device</mat-checkbox>
                            <a class="text-primary font-semibold no-underline text-sm mt-2" [routerLink]="['/']">Forgot
                                Password ?</a>
                        </div>
                        <a class="w-full" color="primary" mat-flat-button [routerLink]="['/']">
                            Sign In
                        </a>

                    </form>
                    <span class="block font-medium text-center mt-6">New to Modernize?
            <a class="no-underline text-primary font-medium text-sm" [routerLink]="['/authentication/register']">
              Create an account</a>
          </span>
                </div>
            </div>
            <div class="lg:col-span-6 col-span-12 relative hidden lg:flex justify-center items-stretch bg-light">
                <div class="flex items-center justify-center w-full login-image-wrapper">
                    <img alt="login" class="login-image" [src]="loginImage()" />
                </div>
            </div>
        </div>
    </mat-card>
</div>
