<div class="blue_theme light-theme" dir="ltr">
    <mat-sidenav-container autoFocus autosize class="mainWrapper">
        <mat-sidenav #leftsidenav (closedStart)="onSidenavClosedStart()" (openedChange)="onSidenavOpenedChange($event)"
                     [mode]="isOver ? 'over' : 'side'" [opened]="!isOver"
                     class="sidebarNav">
            <div class="flex-layout">
                <app-sidebar (toggleMobileNav)="sidenav.toggle()" [showToggle]="isOver"></app-sidebar>
                <ng-scrollbar class="relative" style="height: 100%">
                    <mat-nav-list class="sidebar-list">
                        @for (item of navItems; track item) {
                            <app-nav-item (notify)="sidenav.toggle()" [item]="item" class="top-parent">
                            </app-nav-item>
                        }
                    </mat-nav-list>
                </ng-scrollbar>
            </div>
        </mat-sidenav>

        <mat-sidenav-content #content class="contentWrapper">

            <app-header (toggleCollapsed)="toggleCollapsed()" (toggleMobileNav)="sidenav.toggle()"
                        [showToggle]="!isOver"></app-header>

            <main class="pageWrapper maxWidth">
                <router-outlet></router-outlet>
            </main>

        </mat-sidenav-content>

    </mat-sidenav-container>
</div>
